.component-calculator__display__container {
  font-size: 60px;
  padding: 20px 22px 20px 10px;
  background-color: #858694;
  text-align: right;
  height: 61px;
  color: #ffffff;
  > div {
    width: 100%;
    word-break: break-all;
  }
}